{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

{% block body %}
    Body
{% endblock %}

<!-- jQuery文件 -->
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<!-- Popper文件 -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap 核心 JavaScript 文件 -->
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>